# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.env
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.pytest_cache/
htmlcov/

# modules
node_modules

# macOS system files
.DS_Store

# Logs
*.log
logs/
